<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <%= render 'layouts/errors', obj: @book %>
  <div class="row">
    <%= render 'books/side', user: @user %>
    <div class="col-md-8 offset-md-1">
      <%= link_to "グループを作成する", new_group_path %> | <%= link_to "グループ一覧", groups_path %>
      <h2>Users</h2>
          <%= render 'index', users: @users %>
    </div>
  </div>
</div>