<h2><%= @user.name %>さんとのチャット</h2>

<% @chats.each do |chat| %>
  <p><%= chat.message %></p>
<% end %>

<%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <% f.submit %>
<% end %>

